@import url("https://cdn.syncfusion.com/ej2/material.css");

.sidebar {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 7px 30px 0px;
}
.nav-item,
.navbar {
  z-index: 4444;
}
@media screen and (max-width: 800px) {
  .sidebar {
    z-index: 99999;
  }
}

.e-dlg-center-center,
.e-quick-popup-wrapper.e-device {
  z-index: 1000000 !important;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(216, 216, 216);
  border-radius: 40px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* color-picker style  */

#preview {
  background: transparent
    url("https://ej2.syncfusion.com/react/demos/src/color-picker/images/pen.png")
    no-repeat;
  display: inline-block;
  height: 80px;
  margin: 10px 0;
  min-width: 300px;
  max-width: 600px;
  background-color: #008000;
}

.e-input-group:not(.e-float-icon-left),
.e-input-group.e-success:not(.e-float-icon-left),
.e-input-group.e-warning:not(.e-float-icon-left),
.e-input-group.e-error:not(.e-float-icon-left),
.e-input-group.e-control-wrapper:not(.e-float-icon-left),
.e-input-group.e-control-wrapper.e-success:not(.e-float-icon-left),
.e-input-group.e-control-wrapper.e-warning:not(.e-float-icon-left),
.e-input-group.e-control-wrapper.e-error:not(.e-float-icon-left) {
  border: none;
}
img#ce-ice-breaker-gif {
  display: inline-block;
  align-items: center !important;
}

/* Style the video call button */
.custom-attachment-input .icon-wrapper::before {
  content: "";
  display: inline-block;
  background-image: url("./data/video-call-icon.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-right: 10px;
  cursor: pointer;
}

.ce-message-bubble,
.ce-my-message-bubble,
.ce-my-message-sinding-bubble {
  background-color: #111 !important;
}

@media (max-width: 481px) {
  .ce-chat-engine {
    margin-top: 4rem !important;
  }

  .ce-chat-form-container {
    padding-top: 6rem !important;
  }
  .anticon-close {
    top: 70px !important;
    color: #111 !important;
  }
  .anticon-left {
    top: -30px !important;
    color: black;
  }

  .ce-chat-settings-mobile-option {
    color: #111 !important;
  }
}

.ce-input,
.ce-text-input {
  color: #000 !important;
}

.ce-section-title-container,
.ce-person-title-container {
  color: #111 !important;
}

.ce-chat-title-container {
  color: #111 !important;
}

.ce-options-drop-down {
  color: black !important;
}
/* .ce-default-button, */
.ce-chat-form-button {
  /* padding: 0 2rem 0 2rem !important; */
  background-color: #333 !important;
  color: white !important;
}

.ce-message-form-input {
  border: 1px solid black !important;
  border-radius: 50px !important;
  height: 2.125rem !important;
  margin-left: 1rem !important;
}
.ce-primary-button {
  background-color: black !important;
  color: white !important;
}

.custom-attachment-input .icon-wrapper {
  display: inline-block;
}

.ce-my-message-body,
ce-my-message-sending-body {
  background-color: #333 !important;
}

#ce-send-message-button {
  background-color: #333 !important;
  padding: 0 1rem 0 1rem !important;
}

/* .ce-chat-list {
  background-color: # !important;
} */
/* .ce-message-form-input {
  background-color: #555 !important;
  color: white;
} */
div.ce-wrapper {
  width: 100vw !important;
  height: 85vh !important;
}

/* General styles for the Kanban wrapper */
.kanban-wrapper {
  overflow-x: hidden; /* Hide horizontal overflow for desktop screens */
  overflow-y: hidden; /* Hide vertical overflow for desktop screens */
}

/* Media query for tablet and mobile screens */
@media (max-width: 1024px) {
  /* .kanban-wrapper {
    background: #000;
    overflow-x: auto;
    overflow-y: auto;
  } */
  .e-kanban .e-kanban-table {
    min-width: 700px;
  }
}

/* Further customization for very small screens (e.g., mobile devices) */
@media (max-width: 768px) {
  .e-kanban .e-kanban-content {
    flex-direction: column;
  }
  .e-kanban .e-kanban-table {
    min-width: 950px;
  }
}
