@import url('https://cdn.syncfusion.com/ej2/material.css');

.sidebar {
  box-shadow: rgb(113 122 131 / 11%) 0px 7px 30px 0px;
}
/* .nav-item,
.navbar {
  z-index: 10000;
} */
@media  screen and (max-width:800px) {
  .sidebar{
    z-index: 10000000;
  }
}

.e-dlg-center-center, .e-quick-popup-wrapper.e-device{
  z-index: 1000000 !important;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(216, 216, 216);
  border-radius: 40px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* color-picker style  */

 #preview {
  background: transparent
    url('https://ej2.syncfusion.com/react/demos/src/color-picker/images/pen.png')
    no-repeat;
  display: inline-block;
  height: 80px;
  margin: 10px 0;
  min-width: 300px;
  max-width: 600px;
  background-color: #008000;
}

.e-input-group:not(.e-float-icon-left), .e-input-group.e-success:not(.e-float-icon-left), .e-input-group.e-warning:not(.e-float-icon-left), .e-input-group.e-error:not(.e-float-icon-left), .e-input-group.e-control-wrapper:not(.e-float-icon-left), .e-input-group.e-control-wrapper.e-success:not(.e-float-icon-left), .e-input-group.e-control-wrapper.e-warning:not(.e-float-icon-left), .e-input-group.e-control-wrapper.e-error:not(.e-float-icon-left){
  border: none;
}
.ce-ice-breaker-gif{
  display: inline-block;
  align-items: center !important;
}

/* Style the video call button */
.custom-attachment-input .icon-wrapper::before {
  content: "";
  display: inline-block;
  background-image: url('./data/video-call-icon.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-right: 10px;
  cursor: pointer;
}

.custom-attachment-input .icon-wrapper {
  display: inline-block;
}

/* Add this to your CSS file
@keyframes completionAnimation {
  from { opacity: 1; }
  to { opacity: 0; }
}

.complete-animation {
  animation: completionAnimation 2s ease forwards; /* Adjust duration as needed */
/* } */ 
